
.about_head{
    font-weight: 800;
    font-size: 46px;
    border-bottom: 3px solid #000;
    width: fit-content;
    align-items: center;
    display: flex;
    position: relative;
    left: 42%;
}

.our_team_title{
  font-size: 46px;
  font-weight: 800;
   position: relative;
    left: 42%;  
    border-bottom: 3px solid #000;
    width: fit-content;    
}

.team_section{
  margin-bottom: 60px;
}
:root {
    --safety-orange: hsl(133, 55%, 46%);
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: hsl(124, 63%, 67%);
    --red-crayola: hsl(0, 71%, 69%);
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);
  
    --gradient: linear-gradient(
      to left top,
      var(--persian-rose),
      var(--safety-orange)
    );
  
  /* ==========FONTS AND TYPOGRAPHY============= */
    --ff-roboto: "Roboto", sans-serif;
    --ff-league-spartan: "League Spartan", sans-serif;
    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.1rem;
    --fs-4: 1.7rem;
    --fs-5: 1.4rem;
    --fs-6: 1.3rem;
    --fw-700: 700;
    --fw-500: 500;
  
    /* ====SPACING=== */
    --section-padding: 60px;
  
  /* ==SHADOW== */
    --shadow-1: 0 6px 24px var(--black_5);
    --shadow-2: 0 2px 28px var(--black_10);
  
  /* ====BORDER RADIUS==== */
    --radius-2: 2px;
    --radius-5: 5px;
    --radius-8: 8px;
  
    /* ===TRANSITIONS==== */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  /* =======MAIN===== */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


  
  button {
    cursor: pointer;
  }
  

  

  
  .btn {
    max-width: max-content;
    color: var(--white-1);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 30px;
    border-radius: var(--radius-5);
    transition: var(--transition-1);
  }
  
  .btn-primary {
    background-image: var(--gradient);
    background-size: 1000%;
  }
  
  .btn-primary:is(:hover, :focus) {
    background-position: bottom right;
  }
  

  
  .section {
    padding-block: var(--section-padding);
  }
  

  .w-100 {
    width: 100%;
  }
  
  .section-title,
  .section-text {
    text-align: center;

  }
  
  .section-text {
    font-size: var(--fs-6);
  }
  
  .grid-list {
    display: grid;
    gap: 30px;
  }



  /*-----------------------------------*\
    #HEO
  \*-----------------------------------*/
  
  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: center;
  }
  
  .hero-content {
    margin-block-end: 20px;
  }
  
  .hero-subtitle {
   font-size: 25px;
    font-weight: 600;
  }
  
  .hero-title {
    margin-block: 12px 8px;
    font-size: 50px;
    font-weight: 800;
  }
  
  .hero-text {
    font-size: var(--fs-5);
  }
  
.btn_hero {
    background: #ad48ff;
    margin-top: 20px;
  }
  .hero-banner{
    margin-left: 80px;
  }
  

  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/
  
  .about {
    background-color: var(--white-2);
  }
  
  .about-banner {
    position: relative;
    border-radius: var(--radius-5);
    overflow: hidden;
    margin-block-end: 25px;
  }
  
  
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-1);
    color: var(--red-crayola);
    font-size: 32px;
    padding: 16px;
    border-radius: 50%;
    animation: pulse 1.5s ease-out infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 1px var(--white-1);
    }
    100% {
      box-shadow: 0 0 0 25px transparent;
    }
  }
  
  .about :is(.section-title, .section-text) {
    text-align: left;
  }
  
  .about .section-title {
    margin-block-end: 5px;
  }
  
  .about .section-text:not(:last-child) {
    margin-block-end: 18px;
  }
  
  .about .h3 {
    margin-block-end: 8px;
  }
  
  .about-list {
    margin-block: 15px 18px;
  }
  
  .about-item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }
  
  .about-item ion-icon {
    color: var(--red-crayola);
    flex-shrink: 0;
    margin-block-start: 2px;
  }
  
  .about-item:not(:last-child) {
    margin-block-end: 12px;
  }

    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 1;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 1;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }
    

  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 575px screen
   */
  
  @media (min-width: 575px) {
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .grid-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
  
    /**
     * BLOG
     */
  
    .blog .grid-list {
      grid-template-columns: 1fr;
    }
  
    .blog-card.grid {
      display: grid;
      grid-template-columns: 0.47fr 1fr;
      align-items: center;
      gap: 10px;
    }
  
    /**
     * CONTACT
     */
  
    .input-wrapper {
      display: flex;
      gap: 15px;
    }
  
    .contact-item {
      min-width: calc(50% - 18px);
    }
  }
  
 
  
  @media (min-width: 768px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 4.5rem;
      --fs-2: 3.7rem;
      --fs-3: 2.3rem;
      --fs-4: 1.8rem;
      --fs-5: 1.5rem;
      --fs-6: 1.4rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 720px;
    }
  
    .section-text {
      max-width: 65ch;
      margin-inline: auto;
    }
  
    /**
     * HERO
     */
  
    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
    /**
     * ABOUT
     */
  
    .about-banner {
      max-width: 550px;
    }
  
    .about .section-text {
      max-width: unset;
      margin-inline: 0;
    }
    /* ===TEAM === */
    
  .container_team
  {
      width: 100%;
      /* height: 100vh; */
      margin-bottom: 80px;
      margin-top: -100px;
      /* overflow: hidden; */
  }
  
  .text
  {
      width: 80%;
      margin: 40px auto 40px auto;
  
  }
  
  .boxes
  {
      width: 94%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 350px;
      grid-gap: 40px;
  }
  
  .team_box
  {
      position: relative;
      box-shadow: 3px 3px 5px lightgrey;
      border-radius: 10px;
      cursor: pointer;
      user-select: none;
      transition: .4s;
  
  }
  
  
  .team_box img
  {
      width: 170px;
      height:170px;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 40px;
      border: 1px  solid white;
      box-shadow: 3px 3px 5px gray;
      transition: 2s;
     
      
      
  }
  
  .team_links
  {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      /* margin-left: 2px; */
  
  }
  
  .team_links a
  {
      display: block;
      font-size: 27px;
      margin: 10px 0;
      
      color: lightgrey;
      transition: .5s;
  
  }
  
  .team_links a:hover 
  {
      color: #9dff00;
  
  }
  
  .details
  {
      position: absolute;
      bottom: 15px;
      width: 100%;
  
  }
  
  .details h2, .details p
  {
      width: 100%;
      text-align: left;
      padding-left: 30px;
  
  }
  
  .details h2
  {
      /* font-family: cursive; */
      color: #563cc7;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 3px;
  }
  
  .details p
  {
      color: rgb(22, 17, 17);
      font-weight: bold;
  
  }
  
  .team_box:hover
  {
      transform: scale(1.01);
      box-shadow: 5px 5px 20px lightgray;
  }
  .team_box:hover img
  {
      transform: scale(1.09);
  }
  
  
    /**
     * CONTACT
     */
  
    .contact-form {
      padding: 30px;
      margin-bottom: 40px;
    }
  
    .contact-item {
      min-width: calc(50% - 12.5px);
    }
  }
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {

    .container {
      max-width: 960px;
    }
  
    .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    /**
     * HEADER
     */

  
    /**
     * HERO
     */
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
      text-align: left;
    }
  
    .hero-content {
      margin-block-end: 0;
    }
  
    .hero-subtitle {
      position: relative;
      padding-inline-start: 15px;
    }
  
    .hero-subtitle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--red-crayola);
    }
  
    .hero-text,
    .hero .btn {
      margin-inline: 0;
    }
  
    /**
     * SERVICE
     */
  
    .service-card {
      padding: 20px;
    }
  
    .service-card .h3 {
      --fs-3: 2.3rem;
    }
  
    /**
     * PROJECT
     */
  
    .project-card .card-subtitle {
      --fs-6: 1.5rem;
    }
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    .about-banner {
      margin-block-end: 0;
    }
  
    /**
     * BLOG
     */
  
  
  
    .blog .grid-list {
      grid-template-columns: 1fr 1fr;
      row-gap: 120px;
    }
  
    .blog .grid-list > li:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 5;
    }
  
    .blog-card:not(.grid) {
      height: 100%;
    }
  
    .blog-card .card-content {
      padding-block: 10px;
    }
  
    .blog-card:not(.grid) .card-content {
      padding: 25px;
    }
  
    .blog-card.grid .h3 {
      --fs-3: 2rem;
    }
  
    .blog-card .time {
      --fs-6: 1.6rem;
    }
  
    /**
     * CONTACT
     */
  
    .checkbox-wrapper {
      margin-block: 20px;
    }
  
    .contact-item {
      min-width: calc(33.33% - 16.66px);
    }
  
    .contact-card {
      padding: 30px;
    }
  
    .contact-card .card-icon {
      font-size: 32px;
    }
  }
  

  
  @media (min-width: 1200px) {
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
      /**
       * typography
       */
  
      --fs-1: 6.8rem;
      --fs-2: 4.5rem;
      --fs-4: 1.9rem;
      --fs-5: 1.6rem;
      --fs-6: 1.6rem;
    }
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 1140px;
    }
  
    .btn {
      --fs-6: 1.5rem;
    }
  
    /**
     * SERVICE
     */
  
    .service-card {
      padding: 30px;
    }
  
    .service-card .h3 {
      --fs-3: 2.5rem;
    }
  
    /**
     * PROJECT
     */
  
    .project-card .card-content {
      padding: 30px;
    }
  
    .project-card .card-subtitle {
      --fs-6: 1.6rem;
    }
  
    /**
     * ABOUT
     */
  
    .about .container {
      gap: 60px;
    }
  
    .about-item {
      gap: 7px;
    }
  
    .about-item ion-icon {
      font-size: 20px;
    }
  
    /**
     * CTA
     */
  
    .cta .section-title {
      margin-block: 15px 24px;
    }
  
    /**
     * BLOG
     */
  
    .blog-card .time {
      --fs-6: 1.6rem;
    }
  
    .blog-card.grid .h3 {
      --fs-3: 2.4rem;
    }
  
    /**
     * CONTACT
     */
  
    .contact-form {
      padding: 50px;
    }
  
    .contact-card {
      gap: 20px;
    }
  
    .contact-card .card-icon {
      padding: 15px;
    }
  }
  
  
  
  
  
  
  
  
  
  